body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #ff69b4, #ffc0cb);
  color: white;
  text-align: center;
}

header {
  padding: 40px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.card {
  background: white;
  color: #ff1493;
  padding: 20px;
  width: 250px;
  border-radius: 20px;

  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  transform: perspective(1000px) rotateY(0deg);
  transition: all 0.4s ease;

  position: relative;
}

/* glow rosa */
.card::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: 20px;
  background: linear-gradient(45deg, #ff69b4, #ff1493);
  z-index: -1;
  filter: blur(15px);
  opacity: 0.6;
}

.card:hover {
  transform: perspective(1000px) rotateY(10deg) rotateX(10deg) scale(1.05);
  box-shadow: 0 20px 40px rgba(0,0,0,0.5);
}

.card:hover::before {
  opacity: 1;
  filter: blur(25px);
}

/* CONTATOS */
.contatos {
  margin-top: 40px;
}

/* BOTÕES */
.btn {
  display: inline-block;
  margin: 10px;
  padding: 12px 20px;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  background: #ff1493;

  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.btn:hover {
  background: #ff69b4;
  transform: scale(1.1);

}

/* RESPONSIVO (CELULAR) */
@media (max-width: 768px) {

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }

  header {
    padding: 20px;
  }

  h1 {
    font-size: 24px;
  }

}
